@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Inter', sans-serif;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px; /* ✅ also define for horizontal */
  scrollbar-gutter: stable both-edges;
}
::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 8px;
}
::-webkit-scrollbar-track {
  background: transparent;
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: rgba(0, 0, 0, 0.3) transparent;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

ul, li {
  list-style: none;
}

/* src/styles/ag-custom.css */
.ag-theme-quartz {
  --ag-header-background-color: #0C60A1;
  --ag-header-foreground-color: #fff;
  --ag-header-font-weight: 700;
  --ag-header-font-size: 14px;
  --ag-row-hover-color: transparent;
}


.ag-grade-header {
  @apply font-[700] text-[14px] text-[#FFFFFF] bg-[#0C60A1] hover:bg-[#0C60A1];
}

.ag-grade-header:hover {
  background-color: #0C60A1 !important;
  color: #ffffff !important;
}

.ag-theme-quartz .ag-icon {
  color: #fff !important;
}

.ag-theme-quartz .ag-cell {
  border: 1px solid #d4d4d4;
}

.ag-theme-quartz {
    & .ag-cell:focus,
    & .ag-floating-filter-full-body:focus-within {
      background-color: #bbdfff;
    }

    & .ag-header-cell.ag-column-first.ag-focus-managed,
    & .ag-cell.ag-cell-not-inline-editing.ag-cell-normal-height.ag-column-first {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    & .ag-cell-label-container {
      background-color: #0C60A1;
    }

    & .ag-labeled.ag-label-align-right.ag-checkbox.ag-input-field.ag-header-select-all {
      position: absolute;
      margin: 0 !important;
    }

    & .ag-selection-checkbox {
      margin: 0 !important;
    }

    & .ag-header-cell-label,
    & .ag-header-cell-comp-wrapper,
    & .ag-cell {
        align-items: center;
        display: flex;
        justify-content: center;
    }

    & .ag-header-cell {
      padding: 0 !important;
    }

    & .ag-header-cell-filter {
      padding-left: 10px;
      padding-right: 10px;
    }

    & .ag-wrapper.ag-input-wrapper.ag-text-field-input-wrapper {
      padding-left: 10px !important;
      padding-right: 10px !important;
    }

    & .ag-floating-filter-full-body {
      border-left: solid 1px #d4d4d4;
    }

    & .ag-input-field-input.ag-text-field-input {
      padding-left: 10px !important;
      padding-right: 10px !important;
    }

    & .ag-header-icon.ag-header-cell-filter-button.ag-filter-active::after,
    & .ag-header-cell-filter-button {
      display: none;
    }

    & .ag-header-cell-text {
        width: 100% !important;
        text-align: center;
    }

    & .ag-horizontal-left-spacer {
        overflow-x: hidden;
    }

    & .ag-sort-order {
        display: none;
    }
}